@font-face {
	font-family: 'Musket Bold';
	src: url('../fonts/Musket-Bold.eot');
	src: url('../fonts/Musket-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Musket-Bold.woff') format('woff'),
		url('../fonts/Musket-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
background-color: #0E1319;
height:100%;
<<<<<<< HEAD
min-width:100%;
=======
width:100%;
>>>>>>> origin/master
overflow:auto;

}

.flexheader{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
height:100%;
    
}

.bodycontainer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:-1%;
    
}

.SherlockHolmes{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:-1%;
    
}

.DrWatson{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:-1%;
    
}

.Moriarty{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:-1%;
    
}

.IreneAdler{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:-1%;
    
}

.SilverScreen{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:-1%;
    
}
       
.house{
    
width:100%;
height: 100%;
position:relative;
    
}

.logo{
    
z-index:1;
margin-left:1%;
width:37%;
position:absolute;
    
}

h1{
    
color:white;
font-size:6em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
position:relative;
bottom:6%;    
    
}

h2{
    
color:white;
font-size:3.5em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
<<<<<<< HEAD
top:100px; 
=======
margin-top:9%; 
>>>>>>> origin/master
position:relative;   
    
}

p{
    
color:white;
width:50%;
font-size:1.2em; 
font-family:montserrat;
line-height:1.3em;
    
}

blockquote{
    
color:white;
font-size:1em;
font-family:montserrat;
    
}

a{

text-decoration: none;
color:#F4815E;
    
}

footer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:10%;
background-color: #0E1319;
background-size: cover;
position: relative;
margin-top:-1%;
color:white;
font-size:1.2em; 
font-family:montserrat;
    
}

.pin {
	width: 5%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

.pipe {
	width: 5%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

.mustache {
	width: 5%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

.gun {
	width: 5%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

.lips {
	width: 5%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

.film {
	width: 5%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
<<<<<<< HEAD
}

/* Media Queries */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 


{
    
.pin, .pipe, .mustache, .gun, .lips, .film  {
	width: 10%;
    bottom:3%;
    position:relative;
    margin-bottom:1%;
}
    
    
 h1{
    
color:white;
font-size:4em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
position:relative;
bottom:6%;
    
}

h2{
    
color:white;
font-size:2em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
top:40px; 
position:relative;   
    
}

p{
    
color:white;
width:80%;
font-size:1.2em; 
font-family:montserrat;
text-align: left;
line-height: 30px;
    
    }
    
.flexheader{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
height:40%;
    
}
      
.house{
    
width:100%;
height: 100%;
position:relative;
    
}
    
.bodycontainer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
    
}
    
}
    
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
    
    {
        
        
    
.flexheader{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
height:70%;
    
}
      
.house{
    
width:100%;
height: 100%;
position:relative;
    
} 
        
h1{
    
color:white;
font-size:4.5em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
position:relative;
bottom:6%;
    
}

h2{
    
color:white;
font-size:2em; 

font-family: 'Musket Bold'; 
text-transform: uppercase;
top:70px; 
position:relative;   
    
}

p{
    
color:white;
width:80%;
font-size:1.2em; 
font-family:montserrat;
text-align: left;
    
}

blockquote{
    
color:white;
font-size:1em;
font-family:montserrat;
    
}
        
.pin, .pipe, .mustache, .gun, .lips, .film  {
	width: 10%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}
        
}
    
/* Mac Book Pro 15" Retina  */
@media only screen 
   and (min-height : 1800px) 
   and (min-width : 2880px) {
    
body, html {
background-color: #131B25;
overflow:auto;

}
         
       
.flexheader{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
height:80%;
    
}
       
.DrWatson{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:10%;

    
}
      
.house{
    
width:100%;
height: 100%;
position:relative;
    
} 
        
h1{
    
color:white;
font-size:13em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
position:relative;
bottom:6%;
    
}

h2{
    
color:white;
font-size:7em; 

font-family: 'Musket Bold'; 
text-transform: uppercase;
top:220px; 
position:relative;   
    
}

p{
    
color:white;
width:80%;
font-size:3.5em; 
font-family:montserrat;
text-align: left;
    
}

blockquote{
    
color:white;
font-size:3em;
font-family:montserrat;
    
}
       
.pin, .pipe, .mustache, .gun, .lips, .film  {
	width: 8%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}
       
       
}

=======
}

/* Media Queries */

>>>>>>> origin/master
/* Iphone 6 Plus */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      
<<<<<<< HEAD
    
body, html {
background-color: #131B25;
overflow:auto;

}
      

.flexheader{
=======
body, html {
background-color: #131B25;
height:100%;
width:100%;
overflow:auto;

}

.DrWatson{
    
>>>>>>> origin/master
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
<<<<<<< HEAD
position: relative;
height:30%;
    
}
      
.house{
    
width:100%;
height: 100%;
position:relative;
    
}
      
.DrWatson{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:60%;

    
}

h1{
    
color:white;
font-size:2em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
position:relative;
bottom:6%;
    
}

h2{
    
color:white;
font-size:2em; 

font-family: 'Musket Bold'; 
text-transform: uppercase;
top:40px; 
position:relative;   
    
}

p{
    
color:white;
width:80%;
font-size:1.2em; 
font-family:montserrat;
text-align: left;
    
}

blockquote{
    
color:white;
font-size:1em;
font-family:montserrat;
    
}

a{

text-decoration: none;
color:#F4815E;
    
}

footer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:10%;
background-color: #0E1319;
background-size: cover;
position: relative;
margin-top:-1%;
color:white;
font-size:1.2em; 
font-family:montserrat;
    
}

.pin, .pipe, .mustache, .gun, .lips, .film  {
	width: 15%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

=======
min-height:100%;
background-color: #131B25;
background-size: cover;
position: relative;
margin-top:60%;
    
}

h1{
    
color:white;
font-size:2em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
position:relative;
bottom:6%;
    
}

h2{
    
color:white;
font-size:3.5em; 
font-family: 'Musket Bold'; 
text-transform: uppercase;
margin-top:9%; 
position:relative;   
    
}

p{
    
color:white;
width:80%;
font-size:1.2em; 
font-family:montserrat;
text-align: left;
    
}

blockquote{
    
color:white;
font-size:1em;
font-family:montserrat;
    
}

a{

text-decoration: none;
color:#F4815E;
    
}

footer{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:10%;
background-color: #0E1319;
background-size: cover;
position: relative;
margin-top:-1%;
color:white;
font-size:1.2em; 
font-family:montserrat;
    
}

.pin, .pipe, .mustache, .gun, .lips, .film  {
	width: 15%;
    bottom:5%;
    position:relative;
    margin-bottom:1%;
}

>>>>>>> origin/master
}